* {
    max-width: 1400px;
    font-family: 'Raleway', sans-serif;
    color:black;
    margin: 0;
    padding: 0;
}
body {
    
}

.site-header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 126px ;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 126px ;
    padding-right: 10px;
}

#logo {
    width: 61.09px;
    height: 19px;
    margin: 0;
    padding-left: 55px;
}

nav {
    height: 126px;
    width: 292px;
    margin: 0;
    padding-right: 42.5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 126px;
    width: 292px;
    align-content: center;
    align-items: center;
}

nav ul li {
    display: inline-flex;
    font-weight: 400;
    font-size: 16px;
    height: 126px;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    height: 126px;
    padding-right: 24.5px;
    padding-left: 24.5px ;
    margin: 0;
}

nav ul li a:hover {
    color: #0065FC;
    border-top-color: #0065FC;
    border-top: 2px solid;
    font-weight: 500;
    font-size: 16px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.section-filter {
    margin-left: 55px;
}

.section-filter-header {
    margin-bottom: 8px;
}

.filter-bar {
    display: flex;
}

.location-image {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    width: 14px;
    height: 18px;
}